:root {
  --main-color: #4a90e2;
  --text-color: #ffffff;
  --bg-color: #0f172a;

  --font-main: 'Inter', sans-serif;

  --radius: 0.5rem;
  --padding: 0.75rem 1.5rem;

  --space-xs: 0.5rem;
  --space-sm: 1rem;
  --space-md: 2rem;
  --space-lg: 3rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-main);
  background-color: var(--bg-color);
  color: var(--text-color);
}

.header {
  position: sticky;
  top: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem 2rem;
  background: rgba(15, 23, 42, 0.8);
  backdrop-filter: blur(8px);
}

.home-btn {
  background: none;
  border: none;
  color: var(--text-color);
  cursor: pointer;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
}

.header-actions {
  display: flex;
  gap: 0.5rem;
}

.btn {
  font-size: 1rem;
  padding: var(--padding);
  border-radius: var(--radius);
  cursor: pointer;
  transition: 0.3s ease;
}

.btn-outline {
  background: transparent;
  border: 0.1rem solid var(--text-color);
  color: var(--text-color);
}

.btn-outline:hover {
  background: var(--text-color);
  color: var(--bg-color);
}

.btn-primary {
  background: var(--main-color);
  border: none;
  color: var(--text-color);
}

.btn-primary:hover {
  opacity: 0.85;
}

.whitespace {
  max-width: 40rem;
  margin: 0 auto;
  padding: 0 var(--space-sm);
}

.main {
  text-align: center;
  margin-top: 5rem;
}

.main h1 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.subtitle {
  font-size: 1rem;
  line-height: 1.6;
  opacity: 0.8;

  margin-bottom: var(--space-md);
}

.main-actions {
  display: flex;
  justify-content: center;
  gap: var(--space-sm);
}

@media (min-width: 37.5rem) {
  .main-actions {
    flex-direction: row;
    justify-content: center;
  }

  .main-actions .btn {
    width: 100%;
  }

  .header {
    padding: 0.75rem 1rem;
  }

  .main h1 {
    font-size: 2.3rem;
  }
}


@media (min-width: 56.25rem) {
  .main {
    margin-top: 6rem;
  }

  .main h1 {
    font-size: 2.5rem;
  }

  .subtitle {
    font-size: 1.1rem;
  }
}