:root {
  --main-color: #4a90e2;
  --text-color: #ffffff;
  --bg-color: #0f172a;

  --font-main: 'Inter', sans-serif;

  --radius: 0.5rem;
  --padding: 0.75rem 1.5rem;

  --space-xs: 0.5rem;
  --space-sm: 1rem;
  --space-md: 2rem;
  --space-lg: 3rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-main);
  background-color: var(--bg-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

html, body {
    height: 100%;
    margin: 0;
}

.header {
  position: sticky;
  top: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem 2rem;
  background: rgba(15, 23, 42, 0.8);
  backdrop-filter: blur(8px);
}

.home-btn {
  background: none;
  border: none;
  color: var(--text-color);
  cursor: pointer;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
}

.header-actions {
  display: flex;
  gap: 0.5rem;
}

.btn {
  font-size: 1rem;
  padding: var(--padding);
  border-radius: var(--radius);
  cursor: pointer;
  transition: 0.3s ease;
}

.btn-outline {
  background: transparent;
  border: 0.1rem solid var(--text-color);
  color: var(--text-color);
}

.btn-outline:hover {
  background: var(--text-color);
  color: var(--bg-color);
}

.btn-primary {
  background: var(--main-color);
  border: none;
  color: var(--text-color);
}

.btn-primary:hover {
  opacity: 0.85;
}

.title {
    text-align: center;
}

.header a {
    font-size: 0.95rem;
    font-weight: 500;
    color: #6b7280; /* gray */
    text-decoration: none;
    transition: 0.2s;
}

.header a:hover {
    color: #111827; /* darker on hover */
}

span {
    display: block;
    text-align: center;
}

.whitespace {
    max-width: 40rem;
    margin: 0 auto;
    padding: 0 var(--space-sm);
    text-align: center;
    transform: translateY(-50px); /* moves everything up */
}

.main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center; /* center vertically */
}

.main h1 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.subtitle {
  font-size: 1rem;
  line-height: 1.6;
  opacity: 0.8;

  margin-bottom: var(--space-md);
}

.main-actions {
    display: flex;
    justify-content: center;
    gap: var(--space-sm);
    margin-top: 60px; /* spacing between title and buttons */
}

@media (min-width: 37.5rem) {

  .header {
    padding: 0.75rem 1rem;
  }

  .main h1 {
    font-size: 2.3rem;
  }
}


@media (min-width: 56.25rem) {

  .main h1 {
    font-size: 2.5rem;
  }

  .subtitle {
    font-size: 1.1rem;
  }
}

.app-footer {
    text-align: center;
    padding: 10px;
}