<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Modifier un Plat</title>
    <link rel="stylesheet" href="../../../static/style/styles.css">
    <link rel="stylesheet" href="../../../static/style/form-style.css">
    <link rel="stylesheet" href="../../../static/style/nav-style.css">
</head>
<body>
<header>
    <div class="header-title">Pizzeria Firenze</div>
</header>
<div class="main centered">
    <div class="form-container">
        <h1 class="title">Modifier
            Plat</h1>
        <form action="dishes/create" data-method="PUT">
            <div class="form-group">
                <!-- NAME -->
                <label for="nameDish">Nom</label>
                <input type="text" id="nameDish" name="name" required>
            </div>
            <div class="form-group">
                <!-- PRICE -->
                <label for="priceDish">Prix (€)</label>
                <input type="number" step="0.01" id="priceDish" name="price" required>
            </div>
            <div class="form-group">
                <!-- TYPE -->
                <label for="typeDish">Type</label>
                <select id="typeDish" name="type" required>
                    <option value="pizza">Pizza</option>
                    <option value="boisson">Boisson</option>
                    <option value="dessert">Dessert</option>
                </select>
            </div>
            <div class="form-group">
                <!-- DESCRIPTION -->
                <label for="descDish">Description</label>
                <textarea id="descDish" name="description" required></textarea>
            </div>
            <!-- BUTTONS -->
            <div class="form-actions">
                <button type="submit" class="btn primary">Créer</button>
                <a type="button" class="btn secondary" href="list-dish.html">Annuler</a>
            </div>
            <p id="formInfoMessage"> </p>
        </form>
    </div>
</div>
<script src="../../../static/script/main.js"></script>
<script src="../../../static/script/form-loader.js"></script>
</body>
</html>