<!DOCTYPE html>
<html lang="fr">

<head th:replace="~{components/heads :: formHead('Modifier/Créer')}"></head>

<body>
<header th:replace="~{components/headers :: mainHeader}"></header>

<div class="main centered">
    <div class="form-container">
        <h1 class="title">Nouveau Plat</h1>
        <form action="/dishes/1" method="POST"> <!--id="sendForm" data-method="POST" -->
            <div class="form-group">
                <!-- NAME -->
                <label for="nameDish">Nom</label>
                <input type="text" id="nameDish" name="name" required>
            </div>
            <div class="form-group">
                <!-- PRICE -->
                <label for="priceDish">Prix (€)</label>
                <input type="number" step="0.01" id="priceDish" name="price" required>
            </div>
            <div class="form-group">
                <!-- TYPE -->
                <label for="categoryDish">Type</label>
                <select id="categoryDish" name="category" required>
                    <option value="pizza">Pizza</option>
                    <option value="boisson">Boisson</option>
                    <option value="dessert">Dessert</option>
                </select>
            </div>
            <div class="form-group">
                <!-- DESCRIPTION -->
                <label for="descDish">Description</label>
                <textarea id="descDish" name="description" required></textarea>
            </div>
            <!-- BUTTONS -->
            <div class="form-actions">
                <button type="submit" class="btn primary">Créer</button>
                <a type="button" class="btn secondary" href="list.html">Annuler</a>
            </div>
            <p id="formInfoMessage"> </p>
        </form>
    </div>
</div>

<footer th:replace="~{components/footers :: mainFooter}"></footer>

<script th:src="@{/script/main.js}"></script>
</body>
</html>